<h1>Calc#index</h1>
<p>Find me in app/views/calc/index.html.erb</p>
<div>
<%form_tag(:action => :show) do %><br />
Level: <%= text_field("show","level") %><br />
Events: <%= text_field("show","events") %><br />
Horse title:<%=select("horse","title",[["Store horse", 0],["Baronet or Baronetess", 1],["Baron or Baroness", 2],["Viscount or Viscountess", 3],["Count or Countess", 4],["Marquis or Marquise",5],["Duke or Duchess", 6],["Infante or Infanta", 7],["Prince or Princess", 8],["Grand Prince or Grand Princess", 9],["Archduke or Archduchess", 10]])%><br/>
Gender:<%=select("horse","gender",[["Mare or stally", 0],["gelding",1]])%>
Guild: <%= select("player","guild",[["Rider",0],["Equilibrium",1],["Trainer",2],["Manufacturer",3]])%><br />
<%= submit_tag("Submit") %>
<% end %>

</div>
