<style>
#add_request
{
position:relative;
left:30px;
margin:15px;
width:350px;
border:2px solid;
border-radius:25px;
background-color:Mistyrose;
font-family: verdana;
font-size: 12px;
padding:5px;
}
</style>

<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
<div id="add_request">
    Date: <%= f.date_select :date %> <br/>
    Spec :  <% f.radio_button :spec, 'Any', :checked => true  %>
	<%= f.radio_button :spec, 'Any'%>
	<%= f.label :spec_vote, 'Any' %>
      	<%= f.radio_button :spec, 'English'  %>
	<%= f.label :spec_english, 'English' %>
	<%= f.radio_button :spec, 'Jumper'%>
	<%= f.label :spec_jumper, 'Jumper' %>
	<%= f.radio_button :spec, 'Western'%>
	<%= f.label :spec_western, 'Western' %>
	<%= f.radio_button :spec, 'Racing'%>
	<%= f.label :spec_racing, 'Racing' %><br/>

     Note   :<%= f.text_field :note %><br/>

    <%= submit_tag 'submit' %>
  </div>
<% end %>
