<p id="notice"><%= notice %></p>

<p>
  <strong>Spec:</strong>
  <%= @request.spec %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @request.note %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
