<style>
#horselist_style
{
position:relative;
left:10px;
margin:15;
width:750px;
border:2px solid;
border-radius:25px;
background-color:AliceBlue;
font-family: verdana;
font-size: 8px;
padding:5px;
}

</style>


<p id="notice"><%= notice %></p>
<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>
<p>
  <strong>Spec:</strong>
  <%= @request.spec %>
</p>
<p>
  <strong>Note:</strong>
  <%= @request.note %>
</p>
<p>
  params inspect
<%= params.inspect %>
  </</p>

<br/>
<div id=""horselist_style>
<table class="horizontal_table" style="width: 100%; height: 10px;" border="1">
<tbody>
      <tr>
      <th width="19%">Player</th>
      <th width="19%"> Horse</th>
      <th width="4%">Current</th>
      <th width="4%">1-10</th>
      <th width="4%">11-20</th>
      <th width="4%">21-30</th>
      <th width="4%">31-40</th>
      <th width="4%">41-50</th>
      <th width="4%">51-60</th>
      <th width="4%">61-70</th>
      <th width="4%">71-80</th>
      <th width="4%">81-90</th>
      <th width="4%">91-100</th>
      <th width="4%">higher</th>
      <th width="12%"> Note</th>
      <th width="4%"> </th>
      </tr>
    </tbody>
</table>
</div>

<%= render @request.horselists %>

<b>Add new horses looking for shows </b>

<%= render 'horselists/form' %>


<%= link_to 'Back to request', requests_path %> <br/>
<%= link_to "Showblog for the makers", controller: "showblogs" %><br/>
<%= link_to "Home page", root_path %><br/>

