<p id="notice"><%= notice %></p>
<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>
<p>
  <strong>Spec:</strong>
  <%= @request.spec %>
</p>
<p>
  <strong>Note:</strong>
  <%= @request.note %>
</p>

<p>
  <b>Number of horses at start level </b>
<%= level_count(@request) %>

  </</p>
<p>
  <b>Number of horses willing to enter ranges</b>
<%= range_count(@request) %>
</p>


<table class="horizontal_table" style="width: 100%; height: 10px;" border="1">
<tbody>
      <tr>
      <th width="10%">Player</th>
     <th width="14%"> Horse</th>
      <th width="4%">Current</th>
      <th width="4%">1-10</th>
    <th width="4%">11-20</th>
     <th width="4%">21-30</th> 
      <th width="4%">31-40</th>
      <th width="4%">41-50</th>
      <th width="4%">51-60</th>
      <th width="4%">61-70</th>
      <th width="4%">71-80</th>
      <th width="4%">81-90</th>
      <th width="4%">91-100</th>
      <th width="4%">higher</th>
      <th width="10%"> Date</th>
   <th width="10%"> Note</th>
    <th width="4%"> </th>
    <th width="4%"> </th>
        </tr>
    </tbody>
</table>


<%= render 'request/horselist' %>

<b>Add new horses looking for shows </b>

<%= render 'horselists/form' %>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>


