<p id="notice"><%= notice %></p>
<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>
<p>
  <strong>Spec:</strong>
  <%= @request.spec %>
</p>
<p>
  <strong>Note:</strong>
  <%= @request.note %>
</p>


<p>
  <b>Number of horses willing to enter ranges of shows</b><br/>
<%= range_count(@request) %>
<%= range1_count(@request) %>
<%= range2_count(@request) %>
<%= range3_count(@request) %>
<%= range4_count(@request) %>
<%= range5_count(@request) %>
<%= range6_count(@request) %>
<%= range7_count(@request) %>
<%= range8_count(@request) %>
<%= range9_count(@request) %>
<%= range10_count(@request) %>
</p>

<br/>
<table class="horizontal_table" style="width: 100%; height: 10px;" border="1">
<tbody>
      <tr>
      <th width="19%">Player</th>
      <th width="19%"> Horse</th>
      <th width="4%">Current</th>
      <th width="4%">1-10</th>
      <th width="4%">11-20</th>
      <th width="4%">21-30</th>
      <th width="4%">31-40</th>
      <th width="4%">41-50</th>
      <th width="4%">51-60</th>
      <th width="4%">61-70</th>
      <th width="4%">71-80</th>
      <th width="4%">81-90</th>
      <th width="4%">91-100</th>
      <th width="4%">higher</th>
      <th width="12%"> Note</th>
      <th width="4%"> </th>
      </tr>
    </tbody>
</table>


<%= render @request.horselists %>

<b>Add new horses looking for shows </b>

<%= render 'horselists/form' %>


<%= link_to 'Back to request', requests_path %>
<%= link_to "Showblog for the makers", controller: "showblogs" %><br/>
<%= link_to "Home page", controller: "Welcome" %><br/>

