
<%= form_for([ @request, @request.horselists.build]) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this horselist from being saved:</h2>

       <% end %>
    </div>
 

  <div>
    Player: <%= f.text_field :player %><br/>
   Horse name or number:<%= f.text_field :horse %><br/>
   Current Level:<%= f.text_field :currant_level %><br/>
   Choose any amount of shows to enter, keep in mind there is
   over 4000 shows from level 1 - 100 <br/>
   To be able to enter the shows made by high event players,<br/>
   you require an entering skill of 32 at present.  Quite possible that you will<br/>
   only be able to see shows made at a level of double your entering skill.<br/>
   If you have an entering skill of 10, it is probably only possible to see <br/>
   level 20 shows since they will have 40 events. <br/>
   
   Range to enter:<br/>

  <%= check_box_tag(:range) %>
  	<%= label_tag(:range, 'Level 1 - 10') %><br/>
  <%= check_box_tag(:range1) %>
  	<%= label_tag(:range1, 'Level 11 - 20') %><br/>
        <%= check_box_tag(:range2) %>
  	<%= label_tag(:range2, 'Level 21 - 30') %><br/>
        <%= check_box_tag(:range3) %>
  	<%= label_tag(:range3, 'Level 31- 40') %><br/>
        <%= check_box_tag(:range4) %>
  	<%= label_tag(:range4, 'Level 41- 50') %><br/>
        <%= check_box_tag(:range5) %>
  	<%= label_tag(:range5, 'Level 51- 60') %><br/>
        <%= check_box_tag(:range6) %>
  	<%= label_tag(:range6, 'Level 61- 70') %><br/>
         <%= check_box_tag(:range7) %>
  	<%= label_tag(:range7, 'Level 71 - 80') %><br/>
         <%= check_box_tag(:range8) %>
  	<%= label_tag(:range8, 'Level 81 - 90') %><br/>
         <%= check_box_tag(:range9) %>
  	<%= label_tag(:range9, 'Level 91 - 100') %><br/>
         <%= check_box_tag(:range10) %>
  	<%= label_tag(:range10, 'Higher') %><br/>
Date: <%= f.date_select :date %> <br/>
Note   :<%= f.text_field :note %><br/>

    <%= f.submit %>
  
<% end %>
</div>