
<%= form_for([ @request, @request.horselists.build]) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this horselist from being saved:</h2>

       <% end %>
    </div>
 

  <div>
    Player: <%= f.text_field :player %><br/>
   Horse name or number:<%= f.text_field :horse %><br/>
   Current Level:<%= f.text_field :currant_level %><br/>
   Choose any amount of shows to enter, keep in mind there is
   over 4000 shows from level 1 - 100 <br/>
   To be able to enter the shows made by high event players,<br/>
   you require an entering skill of 32.<br/>
   Range to enter:<br/>

  <%= f.check_box :range, 'Level 1- 10' %>
  	<%= f.label :range, 'Level 1- 10' %><br/>
   <%= f.check_box :range1, 'Level 11- 20' %>
  	<%= f.label :range1, 'Level 11- 20' %><br/>
   <%= f.check_box :range2, 'Level 21- 30' %>
  	<%= f.label :range2, 'Level 21- 30' %><br/>
   <%= f.check_box :range3, 'Level 31- 40' %>
  	<%= f.label :range3, 'Level 31- 40' %><br/>
   <%= f.check_box :range4, 'Level 41- 50' %>
  	<%= f.label :range4, 'Level 41- 50' %><br/>
   <%= f.check_box :range5, 'Level 51- 60' %>
  	<%= f.label :range5, 'Level 51- 60' %><br/>
   <%= f.check_box :range6, 'Level 61- 70' %>
  	<%= f.label :range6, 'Level 61- 70' %><br/>
   <%= f.check_box :range7, 'Level 71- 80' %>
  	<%= f.label :range7, 'Level 71- 80' %><br/>
   <%= f.check_box :range8, 'Level 81- 90' %>
  	<%= f.label :range8, 'Level 81- 90' %><br/>
   <%= f.check_box :range9, 'Level 91- 100' %>
  	<%= f.label :range9, 'Level 91- 100' %><br/>
   <%= f.check_box :range10, 'Higher shows' %>
  	<%= f.label :range10, 'Higher shows' %><br/>
        
    <%= f.submit %>
  
<% end %>
</div>