
<%= form_for([ @request, @request.horselists.build]) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this horselist from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    Player: <%= f.text_field :player %><br/>
   Horse name or number:<%= f.text_field :horse %><br/>
   Current Level:<%= f.text_field :currant_level %><br/>
   Choose any amount of shows to enter, keep in mind there is
   over 4000 shows from level 1 - 100 <br/>
   To be able to enter the shows made by high event players,<br/>
   you require an entering skill of 32.<br/>
   Range to enter:<br/>
<%= f.check_box :range, 'ten' %>
  	<%= f.label :range_ten, 'Level 1- 10' %><br/>
   <%= f.check_box :range, 'twenty' %>
  	<%= f.label :range_twenty, 'Level 11- 20' %><br/>
   <%= f.check_box :range, 'thirty' %>
  	<%= f.label :range_thirty, 'Level 21- 30' %><br/>
   <%= f.check_box :range, 'forty' %>
  	<%= f.label :range_forty, 'Level 31- 40' %><br/>
   <%= f.check_box :range, 'fifty' %>
  	<%= f.label :range_fifty, 'Level 41- 50' %><br/>
   <%= f.check_box :range, 'sixty' %>
  	<%= f.label :range_sixty, 'Level 51- 60' %><br/>
   <%= f.check_box :range, 'seventy' %>
  	<%= f.label :range_seventy, 'Level 61- 70' %><br/>
   <%= f.check_box :range, 'eighty' %>
  	<%= f.label :range_eighty, 'Level 71- 80' %><br/>
   <%= f.check_box :range, 'ninety' %>
  	<%= f.label :range_ninety, 'Level 81- 90' %><br/>
   <%= f.check_box :range, 'hundered' %>
  	<%= f.label :range_hundered, 'Level 91- 100' %><br/>
   <%= f.check_box :range, 'higher' %>
  	<%= f.label :range_higher, 'Higher shows' %><br/>
    <%= f.submit %>
  </div>
<% end %>
