<h1>Listing horselists</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Horse</th>
      <th>Currant level</th>
      <th>Range</th>
      <th>Date</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @horselists.each do |horselist| %>
      <tr>
        <td><%= horselist.player %></td>
        <td><%= horselist.horse %></td>
        <td><%= horselist.currant_level %></td>
        <td><%= horselist.range %></td>
        <td><%= horselist.range1 %></td>
        <td><%= horselist.range2 %></td>
        <td><%= horselist.range3 %></td>
        <td><%= horselist.range4 %></td>
        <td><%= horselist.range5 %></td>
        <td><%= horselist.range6 %></td>
        <td><%= horselist.range7 %></td>
        <td><%= horselist.range8 %></td>
        <td><%= horselist.range9 %></td>
        <td><%= horselist.range10 %></td>
        <td><%= horselist.date %></td>
        <td><%= horselist.note %></td>
        <td><%= link_to 'Show', horselist %></td>
        <td><%= link_to 'Edit', edit_horselist_path(horselist) %></td>
        <td><%= link_to 'Destroy', horselist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horselist', new_horselist_path %>
