<p id="notice"><%= notice %></p>

<p>
  params inspect
<%= params.inspect %></p>
<p>
  <strong>Player:</strong>
  <%= @horselist.player %>
</p>

<p>
  <strong>Horse:</strong>
  <%= @horselist.horse %>
</p>

<p>
  <strong>Current level:</strong>
  <%= @horselist.currant_level %>
</p>

<p>
  <strong>Range:</strong>
  <%= @horselist.range %>
</p>
<p>
  <strong>Range1:</strong>
  <%= @horselist.range1 %>
</p>
<p>
  <strong>Range2:</strong>
  <%= @horselist.range2 %>
</p>
<p>
  <strong>Range3:</strong>
  <%= @horselist.range3 %>
</p>
<p>
  <strong>Range4:</strong>
  <%= @horselist.range4 %>
</p>

<p>
  <strong>Range5:</strong>
  <%= @horselist.range5 %>
</p>
<p>
  <strong>Range6:</strong>
  <%= @horselist.range6 %>
</p>
<p>
  <strong>Range7:</strong>
  <%= @horselist.range7 %>
</p>
<p>
  <strong>Range8:</strong>
  <%= @horselist.range8 %>
</p>

<p>
  <strong>Range9:</strong>
  <%= @horselist.range9 %>
</p>
<p>
  <strong>Range10:</strong>
  <%= @horselist.range10 %>
</p>

<p>
  <strong>Note:</strong>
  <%= @horselist.note %>
</p>


