<p id="notice"><%= notice %></p>


<%= params.inspect %>
<p>
  <strong>Player:</strong>
  <%= @horselist.player %>
</p>

<p>
  <strong>Horse:</strong>
  <%= @horselist.horse %>
</p>

<p>
  <strong>Current level:</strong>
  <%= @horselist.currant_level %>
</p>

<p>
  <strong>Range:</strong>
  <%= @horselist.range %>
</p>
<p>
  <strong>Range:</strong>
  <%= @horselist.range1 %>
</p>
<p>
  <strong>Range:</strong>
  <%= @horselist.range2 %>
</p>
<p>
  <strong>Range:</strong>
  <%= @horselist.range3 %>
</p>
<p>
  <strong>Range:</strong>
  <%= @horselist.range4 %>
</p>

<p>
  <strong>Range:</strong>
  <%= @horselist.range5 %>
</p>
<p>
  <strong>Range:</strong>
  <%= @horselist.range6 %>
</p>
<p>
  <strong>Range:</strong>
  <%= @horselist.range7 %>
</p>
<p>
  <strong>Range:</strong>
  <%= @horselist.range8 %>
</p>

<p>
  <strong>Range:</strong>
  <%= @horselist.range9 %>
</p>
<p>
  <strong>Range:</strong>
  <%= @horselist.range10 %>
</p>

<p>
  <strong>Note:</strong>
  <%= @horselist.note %>
</p>

<%= link_to 'Edit', edit_request_horselist_path(@request, horselist) %> |
