
<p>
  <b>Name:</b>
<marquee scrollamount="6" ><h2> <%= @showblog.name %></h2></marquee>
</p>

<p>
  <b>Rundate:</b>
  <%= @showblog.rundate %>
</p>

<p>
  <b>Spec:</b>
  <%= @showblog.spec_choice%>
</p>

<p>
  <b>Level:</b>
  <%= @showblog.level_range %>
</p>

<p>
  <b>Note:</b>
  <%= @showblog.note %>
</p>

<p>
  <b> The Voting so far:</b><br/>


<%= vote_spec(@showblog) %>

</p>
<table class="horizontal_table" style="width: 100%; height: 10px;" border="1">
<tbody>

  <tr>
    <th width="20%"><%= sortable "Player", "showrun.player" %> </th>
    <th width="15%"><%= sortable "Event", "showrun.event" %></th>
    <th width="10%">Vote</th>
    <th width="15%">Level</th>
   <th width="10%">Make Other ?</th>
   <th width="20%">Note</th>
   <th width="5%"></th>
   <th width="5%"></th>
  </tr>
</tbody>
</table>

<%= render @showblog.showruns %>

<b>Add new player events </b>

<%= render 'showruns/form' %>

<%= link_to "New spec Request for your horse ", controller: "requests" %><br/>
<%= link_to "Showblog for the makers", controller: "showblogs" %><br/>
<%= link_to "Home", root_path %>